.container {
  margin-bottom: 150px;

  h2 {
    font-family: "Baloo 2", sans-serif;
    color: var(--base-title);
    font-weight: 700;
    margin-bottom: 60px;
  }

  h3 {
    font-family: "Baloo 2", sans-serif;
    color: var(--base-subtitle);
    font-weight: 700;
  }

  .coffeWrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 40px;
    grid-row-gap: 40px;

    .coffes {
      background-color: var(--base-card);
      padding: 20px 25px;
      max-width: 265px;
      width: 100%;
      border-radius: 6px 36px;
      position: relative;
      text-align: center;

      .imageWrapper {
        display: flex;
        justify-content: center;
        position: absolute;
        right: 0;
        left: 0;
        top: -20px;
      }

      .coffeType {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 70px;
        margin-bottom: 25px;
        gap: 5px;

        p {
          background-color: var(--yellow-light);
          color: var(--yellow-dark);
          border-radius: 12px;
          max-width: 90px;
          margin: 0 auto;
          font-size: 12px;
          text-transform: uppercase;
          font-weight: 600;
          padding: 0 8px;
        }
      }

      .textWrapper {
        display: flex;
        flex-direction: column;
        gap: 15px;

        p {
          font-size: 14px;
          line-height: 17px;
        }
      }

      .buyCoffe {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 35px;

        span {
          p {
            color: var(--base-text);
            font-weight: 400;
            font-size: 14px;
            margin-right: 5px;
          }

          h3 {
            font-family: "Baloo 2", sans-serif;
            color: var(--base-text);
            font-weight: 700;
            font-size: 22px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .container {
    .coffeWrapper {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(3, 1fr);
    }
  }
}

@media screen and (max-width: 768px) {
  .container {
    .coffeWrapper {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
    }
  }
}

@media screen and (max-width: 575px) {
  .container {
    .coffeWrapper {
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(1, 1fr);
    }
  }
}
