.container {
  display: flex;
  gap: 10px;

  .counterWrapper {
    display: flex;
    align-items: center;
    height: 38px;
    background-color: var(--base-button);
    border-radius: 6px;
    padding: 0 8px;
  }

  .quantity {
    padding: 0 10px;
    color: var(--base-subtitle);
  }

  .decreaseCoffe,
  .increaseCoffe {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: var(--purple);
    margin-top: 3px;
  }

  .removeItem {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: var(--base-button);
    border: none;
    cursor: pointer;
    border-radius: 6px;
    padding: 0 10px;
    text-transform: uppercase;
    color: var(--base-text);

    svg {
      color: var(--purple);
    }
  }
}
